body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/6664247/pexels-photo-6664247.jpeg?cs=srgb&dl=pexels-anna-shvets-6664247.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    max-width: 95%;
}

h2 {
    background-color: white;
    height: 40px;
    text-align: center;
    padding: 10px;
    max-width: 95%;
    font-size: 20px;
}

h3 {
    padding: 20px;
}

text {
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #444;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.destacado {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.seccion {
    background-color: white;
}

img {
    width: 80%;
}

.imag {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto; 
    cursor: pointer;
}

button:hover {
    background-color: #0056a9;
}

@media (min-width: 400px) {
    img {
        width: 50%;
    }
    .imag {
        display: flex;
        justify-content: right;
        margin-top: 10px;
    }
    .seccion {
        background-color: white;
        display: flex;
        justify-content: left;
        height: 200px;
        width: 700px;
    }
    body {
        font-size: 20px;
    }
    h2 {
        background-color: white;
        height: 40px;
        text-align: center;
        padding: 10px;
        width: 1100px;
    }
    main {
        max-width: 1100px;
    }
}

@media (max-width: 375px) {
    head {
        max-width: 95%;
    }
}
